@font-face {
	font-family: 'circleFont';
	src: url(./font/NaishoMoji-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

header {
  margin-top: 1%;
  height: 75px;
  width: 100%;
  font-size: 3em;
  text-shadow: -3px -6px rgb(89, 106, 160);
  font-family: 'circleFont';
  border-bottom: solid #000;
}

footer {
  color: #fff;
  background-color: #222;
	text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px;
}

section {
  font-family: 'Book Antiqua';
}

section#logo {
  height: 50px;
  width: 100%;
  /* background-color: #74A9D6; */
}

img#toplogo {
  float: left;
}

h1#topName {
  margin-left: 1%;
  float: left;
  width: 40%;
  height: 100%;
}

article#introduction {
  height: 500px;
  width: 100%;
  text-align: left;
}

section#circleTitle {
  font-size: 2em;
  height: 700px;
  width: 50%;
  margin: 10% 3%;
  
}

section#menber{
  font-size: 2em;
  height: 20%;
  width: 50%;
  margin: 5% 3%;
}

section#gouten {
  font-size: 1.5em;
  height: 80%;
  width: 50%;
  float: left;
  text-align: left;
  background-color: #74A9D6;
  /* transform: skewX(40deg); */
}

div#goutenContent {
  /* transform: skewX(-40deg); */
}

/* div#line {
  height: 100%;
  width: 20px;
  transform: skewX(30deg);
} */

section#mil {
  font-size: 1.5em;
  height: 80%;
  width: 50%;
  float: right; 
  text-align: right;
  background-color: #74A9D6;
  /* transform: skewX(40deg); */
}

div#milContent {
  /* transform: skewX(-40deg); */
}

section#siteIndex {
  width: 100%;
  height: 1000px;
  margin: auto;
  background-color: rgb(222, 222, 222);
}

ul {
  width: 100%;
  height: 300px;
  display: table;
  color: #FFF;
}

li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 6em;
  text-shadow: 2px 2px 1px #000,
             -2px 2px 1px #000,
             2px -2px 1px #000,
             -2px -2px 1px #000;
  border: solid #FFF;
}

li#c {
  width: 24%;
  height: 24%;
  background-color: cyan;
}

li#m {
  width: 24%;
  height: 24%;
  background-color: magenta;
}

li#y {
  width: 24%;
  height: 24%;
  background-color: yellow;
}

li#k {
  width: 24%;
  height: 24%;
  background-color: black;
}